
.home{
    -fx-background-color: #28c48d;
}


.card-form{
    -fx-background-color:white;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
}

.login_logo{
    -fx-Text-Fill:#059669;
}


.signup{
    -fx-cursor: hand;
}



.login_signup{
    -fx-cursor: hand;
}


.loginButton{
    -fx-cursor: hand;
}

.signup_login{
    -fx-cursor: hand;
    -fx-background-color:#059669;
    -fx-background-radius:10px;
}


